.todo {
	width: 400px;
	height: 600px;
	background: #e0475b;
	color: #fff;
	box-shadow: rgba(50, 50, 93, 1) 0px 30px 60px -12px, rgba(0, 0, 0, 1) 0px 18px 36px -18px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 20px;
	position: relative;
	z-index: 10;
	border-radius: 10px
}

.title {
	font-size: 22px;
	text-align: center;
	font-weight: 600;
}